/lr
dist
alpine-container.tar
centos-container.tar
./cnquery
file1
id_rsa
id_rsa.pub
mondoo-test-secret-key
gha-creds-*.json
/tools
# primarily used to ignore all dist files built for providers
/dist
# we want to track core + os, despite being generate JSON files
# because we use them for testing in a lot of places.
# TODO: solve this for other provider types on the fly
!providers/core/resources/core.resources.json
!providers/os/resources/os.resources.json
providers/*/resources/*.resources.json
providers/*/resources/*.manifest.json
