/lr
dist
alpine-container.tar
centos-container.tar
./cnquery
file1
id_rsa
id_rsa.pub
mondoo-test-secret-key
gha-creds-*.json
/tools
# primarily used to ignore all dist files built for providers
providers/*.resources.json
providers/*/dist
providers/*/resources/*.resources.json
providers/*/resources/*.manifest.json
providers/mock_coordinator.go
providers/mock_plugin_interface.go
providers/mock_schema.go
providers-sdk/*/testutils/mockprovider/resources/*.resources.json
!providers/core/resources/*.resources.json
