{
  "RT_MANIFEST": {
    "#1": {
      "0409": {
        "description": "mql __PROVIDER_NAME__ provider plugin",
        "minimum-os": "win7",
        "execution-level": "as invoker",
        "dpi-awareness": "unaware",
        "long-path-aware": true
      }
    }
  },
  "RT_VERSION": {
    "#1": {
      "0000": {
        "fixed": {
          "file_version": "0.0.0.0",
          "product_version": "0.0.0.0"
        },
        "info": {
          "0409": {
            "Comments": "https://mondoo.com/docs/mql/resources",
            "CompanyName": "Mondoo, Inc.",
            "FileDescription": "mql __PROVIDER_NAME__ provider plugin",
            "InternalName": "__PROVIDER_NAME__",
            "LegalCopyright": "Copyright Mondoo, Inc. All rights reserved.",
            "OriginalFilename": "__PROVIDER_NAME__.exe",
            "ProductName": "mql"
          }
        }
      }
    }
  }
}
