{
  "RT_MANIFEST": {
    "#1": {
      "0409": {
        "identity": {
          "name": "",
          "version": ""
        },
        "description": "mql __PROVIDER_NAME__ provider plugin",
        "minimum-os": "win7",
        "execution-level": "as invoker",
        "ui-access": false,
        "auto-elevate": false,
        "dpi-awareness": "unaware",
        "disable-theming": false,
        "disable-window-filtering": false,
        "high-resolution-scrolling-aware": false,
        "ultra-high-resolution-scrolling-aware": false,
        "long-path-aware": true,
        "printer-driver-isolation": false,
        "gdi-scaling": false,
        "segment-heap": false,
        "use-common-controls-v6": false
      }
    }
  },
  "RT_VERSION": {
    "#1": {
      "0000": {
        "fixed": {
          "file_version": "0.0.0.0",
          "product_version": "0.0.0.0"
        },
        "info": {
          "0409": {
            "Comments": "https://mondoo.com/docs/mql/resources",
            "CompanyName": "Mondoo, Inc.",
            "FileDescription": "mql __PROVIDER_NAME__ provider plugin",
            "FileVersion": "",
            "InternalName": "__PROVIDER_NAME__",
            "LegalCopyright": "Copyright Mondoo, Inc. All rights reserved.",
            "LegalTrademarks": "",
            "OriginalFilename": "__PROVIDER_NAME__.exe",
            "PrivateBuild": "",
            "ProductName": "mql",
            "ProductVersion": "",
            "SpecialBuild": ""
          }
        }
      }
    }
  }
}
