package config

import (
  "go.mondoo.com/cnquery/v11/providers-sdk/v1/plugin"
  "{{ .GoPackage }}/provider"
)

var Config = plugin.Provider{
	Name:    "{{ .ProviderID }}",
	ID:      "{{ .GoPackage }}",
	Version: "10.0.0",
	ConnectionTypes: []string{provider.DefaultConnectionType},
	Connectors: []plugin.Connector{
		{
			Name:      "{{ .ProviderID }}",
			Use:       "{{ .ProviderID }}",
			Short:     "{{ .ProviderName }}",
			Discovery: []string{},
			Flags:     []plugin.Flag{},
		},
	},
}
