name: Notify about content updates

on:
  push:
    branches:
      - main
    paths:
      - "content/**"

jobs:
  notify:
    runs-on: ubuntu-latest
    steps:
      - name: Notify about content updates
        uses: peter-evans/repository-dispatch@28959ce8df70de7be546dd1250a005dd32156697 # v4.0.1
        with:
          token: ${{ secrets.RELEASR_ACTION_TOKEN }}
          repository: ${{ secrets.MONDOO_POLICY_REPO }}
          event-type: content-updated
          client-payload: '{ "version": "${{  github.ref_name }}" }'
