name: goreleaser

on:
  push:
    tags:
      - '*'
  workflow_dispatch:
    

jobs:
  goreleaser:
    # Add "id-token" for google-github-actions/auth
    permissions:
      contents: 'read'
      id-token: 'write'

    runs-on: self-hosted
    timeout-minutes: 120
    steps:
      - name: Checkout
        uses: actions/checkout@v3
        with:
          fetch-depth: 0
      - name: Set up Go
        uses: actions/setup-go@v3
        with:
          go-version: 1.19
      - name: 'Authenticate to Google Cloud'
        uses: 'google-github-actions/auth@v0'
        with:
          workload_identity_provider: ${{ secrets.GCP_WIP }}
          service_account: ${{ secrets.GCP_SERVICE_ACCOUNT }}
      - name: 'Set up Cloud SDK'
        uses: 'google-github-actions/setup-gcloud@v0'
      - name: "Fetch Windows Signing Cert"
        run: |
          cert="$(mktemp -t cert.XXX)"
          # We need to transform the secret which is in base64url encoding to base64 encoding
          content=$(gcloud secrets versions access latest --secret=mondoo_code_sign_certificate_pfx --format='get(payload.data)' | sed 's|_|/|g; s|-|+|g')
          base64 -d <<<"$content" > "$cert"
          echo "CERT_FILE=$cert" >> $GITHUB_ENV
      - name: "Fetch Windows Signing Cert Challenge"
        run: |
          pass=$(gcloud secrets versions access latest --secret=mondoo_code_sign_challenge)
          echo "CERT_PASS=$pass >> $GITHUB_ENV"
      - name: Obtain signing cert
        run: |
          cert="$(mktemp -t cert.XXX)"
          base64 -d <<<"$CERT_CONTENTS" > "$cert"
          echo "CERT_FILE=$cert" >> $GITHUB_ENV
      - name: Run GoReleaser
        uses: goreleaser/goreleaser-action@v3
        with:
          distribution: goreleaser
          version: latest
          args: release --rm-dist --timeout 120m
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      - name: Install RPM packaging dependencies
        run: sudo apt-get install -y rpm reprepro
      - name: Set up GPG for RPM
        run: |
          echo "${{secrets.GPG_PASSPHRASE}}" | base64 -d > passphrase
          echo "${{secrets.GPG_PUBKEY}}" | base64 -d  > mondoo_gpg2_pub.gpg
          echo "${{secrets.GPG_PUBKEY}}" | base64 -d | gpg --import --no-tty --batch --yes
          echo "${{secrets.GPG_KEY}}" | base64 -d | gpg --import --passphrase-file passphrase --allow-secret-key-import --pinentry-mode loopback --no-tty --batch --yes
          rpm --import mondoo_gpg2_pub.gpg
      - name: Sign RPMs
        run: |
          cp scripts/rpmmacros ~/.rpmmacros
          rpmsign --addsign dist/*.rpm
