---
name: Link Checking

"on":
  pull_request:
  push:
    branches: [main]

jobs:
  md-links:
    name: Run markdown link check
    runs-on: ubuntu-latest
    steps:
      - name: Check out code
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
      - name: markdown-link-check
        uses: tcort/github-action-markdown-link-check@e7c7a18363c842693fadde5d41a3bd3573a7a225 # v1.1.2
        with:
          use-verbose-mode: "yes"
          config-file: ".github/actions/link-check/config.json"
