name: Extended Linting

## Only trigger tests if source is changing
on:
  pull_request:
    paths:
      - "**.go"
      - "**.mod"
      - "go.sum"
      - ".github/workflows/pr-extended-linting.yml"

permissions:
  contents: read
  pull-requests: read

jobs:
  golangci-lint:
    # Only run for PRs from forks, internal PRs are covered by Code Test workflow on push
    if: github.event.pull_request.head.repo.full_name != github.repository
    permissions:
      # allow read access to the content for analysis.
      contents: read
      # allow read access to pull request. Use with `only-new-issues` option.
      pull-requests: read
      # allow write access to checks to allow the action to annotate code in the PR.
      checks: write
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
      - name: Import environment variables from file
        run: cat ".github/env" >> $GITHUB_ENV
      - name: Install Go
        uses: actions/setup-go@7a3fe6cf4cb3a834922a1244abfce67bcef6a0c5 # v6.2.0
        with:
          go-version: ">=${{ env.golang-version }}"
          cache: false
      - name: Generate test files
        run: make test/generate
      - name: Run golangci-lint
        uses: golangci/golangci-lint-action@1e7e51e771db61008b38414a730f564565cf7c20 # v9.2.0
        with:
          version: latest
          args: --config=.github/.golangci.yaml --timeout=30m
          only-new-issues: true
          skip-cache: true

  golangci-lint-providers:
    # Only run for PRs from forks, internal PRs are covered by Code Test workflow on push
    if: github.event.pull_request.head.repo.full_name != github.repository
    uses: ./.github/workflows/reusable-lint-providers.yml
    with:
      only-new-issues: true
