name: 'Build & Release Providers'

on:
  workflow_dispatch:

env:
  BUCKET: releases-us.mondoo.io
  PROVIDERS: "os network"

jobs:
  build:
    runs-on: self-hosted
    timeout-minutes: 30
    permissions:
      # Add "id-token" for google-github-actions/auth
      id-token: 'write'
    steps:
      - name: Checkout
        uses: actions/checkout@v3
        with:
          fetch-depth: 0

      - name: Set up Go
        uses: actions/setup-go@v4
        with:
          go-version: ">=1.20.4"
          cache: false

      - name: 'Authenticate to Google Cloud'
        uses: 'google-github-actions/auth@v1'
        with:
          workload_identity_provider: ${{ secrets.GCP_WIP }}
          service_account: ${{ secrets.GCP_SERVICE_ACCOUNT }}

      - name: 'Set up gcloud CLI'
        uses: 'google-github-actions/setup-gcloud@v0.4.0'
        with:
          project_id: ${{ secrets.GCP_PROJECT_ID }}
          service_account_key: ${{ secrets.GCP_SERVICE_ACCOUNT_KEY }}
          export_default_credentials: true


      - name: 'Build dependencies'
        run: |
          make providers/proto
          go build -o lr ./providers-sdk/v1/lr/cli/main.go

      - name: 'Build Providers'
        run: |
          rm -rf ./dist
          for p in ${PROVIDERS}; do
            scripts/provider_bundler.sh $p
          done
      - name: 'Publish Providers'
        run: |
          for pkg in $(ls dist | cut -f1,2 -d_ | uniq); do
            echo "Publishing $pkg"
            PROVIDER=$(echo $pkg | cut -f1 -d_)
            VERSION=$(echo $pkg | cut -f2 -d_)

            echo "Publishing $pkg to gs://${BUCKET}/providers/${PROVIDER}/${VERSION}/"
            gsutil -m cp -c dist/${pkg}*.xz gs://${BUCKET}/providers/${PROVIDER}/${VERSION}/

            echo "{ \"name\": \"${PROVIDER}\", \"version\": \"${VERSION}\" }" >> "dist/${pkg}.json"
          done
      - name: 'Publish latest.json'
        run: |
          echo "{ \"providers\": [$(ls dist/*.json | xargs cat | paste -sd, -)] }" > dist/latest.json
          gsutil -m cp -c dist/latest.json gs://${BUCKET}/providers/

