
name: 'Test Report'
on:
  workflow_run:
    workflows: ['Code Test'] # runs after tests
    types:
      - completed
jobs:
  report:
    permissions:
      actions: read        # Required to read the artifact
      contents: read       # Required to read the source
      checks: write        # Required to write the results
      pull-requests: write # Required to write comments
    runs-on: ubuntu-latest
    steps:
    - name: Download and Extract Artifacts
      uses: dawidd6/action-download-artifact@ac66b43f0e6a346234dd65d4d0c8fbb31cb316e5 # v11
      with:
        run_id: ${{ github.event.workflow_run.id }}
        path: artifacts

    - name: Publish Test Results
      uses: EnricoMi/publish-unit-test-result-action@34d7c956a59aed1bfebf31df77b8de55db9bbaaf # v2.21.0
      with:
        commit: ${{ github.event.workflow_run.head_sha }}
        event_file: artifacts/Event File/event.json
        event_name: ${{ github.event.workflow_run.event }}
        files: "artifacts/**/*.xml"
